* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
	color: #fff;
	background-color: #333;
	background-image: url('assets/grid-12-column/flower-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	display: grid;
  height: 100vh;

  grid-template-columns: repeat(12, 1fr);
  column-gap: 12px;

  align-items: center;
}

.one {
	grid-column: 2 / span 4;
	background-color: #eee;
	height: 700px;
	border-radius: 8px;
}

.two {
	grid-column: 6 / span 6;
	background-color: #eee;
	height: 700px;
	border-radius: 8px;
	opacity: 0.25;
}
