/***** DEFAULT VIEW: MOBILE *****/

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
	color: #fff;
	background-color: #333;
}

body {
	display: grid;
	height: 100vh;

	gap: 12px;

  /* Creating 6 rows and 3rd row expands as much as it can */ 
  grid-template-rows: auto auto 1fr auto auto auto;

  /* Defining the template */
  grid-template-areas:
    "header"
    "nav"
    "main"
    "sidebar"
    "ads"
    "footer";
}

li {
	list-style: none;
}

a {	
	text-decoration: none;
	color: #fff;
	padding-right: 20px;
}

a:hover {
	color: #333;
	text-decoration: underline;
}

header {
	grid-area: header;
	
	width: 100%;
	height: 75px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: darkgoldenrod;
}

.logo {
	padding-left: 20px;
}

nav {
	grid-area: nav;
	display: flex;
	height: 50px;

	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: darkseagreen;
}

main {
	grid-area: main;
	background-color: cornflowerblue;
}

.sidebar {
	grid-area: sidebar;
	background-color: brown;
}

.ads {
	grid-area: ads;
	background-color: darkslateblue;
}

footer {
	grid-area: footer;
	width: 100%;
	height: 75px;
	padding-left: 20px;

	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: lightpink;
}

.disclaimer, .disclaimer2 {
	padding-left: 20px;
}

/***** TABLET VIEW *****/
@media (min-width: 720px) {
  body {
    /* Creating 4 rows and the 3rd row expands as much as it can */
    grid-template-rows: auto auto 1fr auto;
      
    /* Defining the template (3 columns) */
    grid-template-areas:
      "header header header"
      "nav nav nav "
      "sidebar main main"
      "ads footer footer";
  }
	
  /* header {
    grid-column: 1 / span 12;
  }

  nav {
    grid-column: 1 / span 12;
  }

  main {
    grid-column: 3 / span 10;
  }

  .sidebar {
    grid-column: 1 / span 2;
    grid-row: 3;
  }

  .ads {
    grid-column: 1 / span 2;
  }

  .task-3-1 .footer {
    grid-column: 3 / span 10;
  } */
}

/***** DESKTOP VIEW *****/

@media (min-width: 1020px) {
	body {
		/* Creating 4 rows and the 3rd row expands as much as it can */
    grid-template-rows: auto auto 1fr auto;
      
    /* Defining the template (4 columns) */
    grid-template-areas:
      "header header header header"
      "sidebar nav nav ads"
      "sidebar main main ads"
      "footer footer footer footer";
  }

  /* nav {
    grid-column: 3 / span 8;
  }

  main {
    grid-column: 3 / span 8;
  }

  .sidebar {
    grid-row: 2 / 4
  }

  .ads {
    grid-column: 11 / span 2;
    grid-row: 2 / 4;
  }

  footer {
    grid-column: 1 / span 12;
  } */
}
